html {
    background: linear-gradient(177.52deg, #6890ec 2.11%, #729dd1 81.34%);
    background-repeat: no-repeat;
    height: 100%;
}

body {
    font-family: 'Montserrat', 'sans-serif', 'Mansalva', cursive;
}

.title{
    margin: 8rem;
    padding-left: 1rem;
}

h2, footer {
    font-family: 'Mansalva';
}

button {
    border: none;
}

.itens-comprados {
text-decoration: line-through;
}

.borda-lista {
    border-bottom: dotted 2px blue;
}

input:disabled {
    border: none;
    background: none;
    color: black;
}

input {
    border: none;
    background: none;
    color: black;
}
.lista{
    border: solid 2px black;
    border-radius: 10px;
}